<footer id="footer" class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <img src="../../img/logo-2.png" width="180" height="120" alt="">
        </div>
        <div class="col-2">
          <a href="home.html">Inicio</a><br>
          <a href="">Quienes somos</a><br>
          <a href="">Nuestras instalaciones</a><br>
          <a href="contacts.html">Contactanos</a><br>
        </div>
        <div class="col-3">
          <h3>Lineas de atencion</h3>
          <hr>
          <p>Linea nacional: 0000</p>
          <p>Bogota: 0000</p>
          <p>Medellin: 0000</p>
          <p>Cali: 0000</p>
          <p>Barranquilla: 0000</p>
          <p>Bucaramanga: 0000</p>
          <p>Neiva: 0000</p>
          <p>Cartagena: 0000</p>
        </div>
        <div class="col-3">
          <h3>Oficinas</h3>
          <hr>
          <p>Bogota</p>
          <p>Carrera 00 #00-00</p>
          <p>Medellin</p>
          <p>Carrera 00 #00-00</p>
          <p>Neiva</p>
          <p>Carrera 00 #00-00</p>
        </div>
        <div class="col-2">
          <h3>Redes Sociales</h3>
          <hr>
          <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i> Facebook</a><br>
          <a href="https://x.com" target="_blank"><i class="bi bi-twitter-x"></i> Twitter</a><br>
          <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></i> Instagram</a><br>
        </div>
      </div>
    </div>
</footer>